* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


body {
    background-color: #F0F1F3;
}

#aboutUs {
    
    margin-top: 2rem;
    padding: 20px 50px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#aboutUs img {
    width: 400px;
    margin: 30px;
    border-radius: 10px;
}

.content {
    text-align: center;
    margin: 15px 1px;
}

.content h2 {
    font-size: 50px;
    color: #E55947;
}

.content h4 {
    font-size: 20px;
    color: #000000;
    margin: 10px 0;
}

.description {
    color: #000000;
    margin: 20px 0;
    font-size: 18px;
    line-height: 30px;
    font-weight: 100;
}

.btn {
    font-weight: bold;
    border: 2px solid #E55947;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 20px;
    transition: all 0.4s;
    background-color: #E55947;
    color: #ffffff;
}

.btn:hover {
    border: 2px solid #E55947;
    background: transparent;
    color: #E55947;
}

@media screen and (max-width: 790px) {
    #aboutUs img {
        width: 80%;
    }

    #aboutUs {
        grid-template-columns: 1fr;
        place-items: center;
    }
}